@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    font-family: "Montserrat", serif;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: sans-serif;
    margin-bottom: 60px;
}

table {
    letter-spacing: 0.01em;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    text-align: center;
    padding: 16px 8px;
    border-right: 1px solid #ddd;
}

th:first-child, td:first-child {
    text-align: left;
}

tr:nth-child(even) {
    background-color: #00e0ff1a;
}

.header {
    background-color: #7ce1efa1;
}

input[type="text"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button, a, input[type="submit"] {
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
}

.edit-container {
    display: none;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
    background-color: #f9f9f9;
}

/*Start Schedule Page*/
.lesson-card {
    text-align: start;
    margin: 5px;
    padding: 14px;
    border: 1px solid rgb(101 181 246 / 20%);
    border-radius: 12px;
    box-shadow: 0px 4px 16px rgb(42 60 71 / 3%);
    background: rgba(255, 255, 255, 0.9);
}

.lesson-card:hover {
    box-shadow: 0px 4px 16px rgb(42 60 71 / 11%);
}

.lesson-card div {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.lesson-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.lesson-card .week-type {
    text-align: center;
    line-height: 1.5;
    font-size: 0.875rem;
    font-weight: 600;
    padding: 3px 10px;
    border-radius: 14px;
    color: #fff;
    /*background-color: #64b5f6;*/
    background-color: #1ca2fb;
}

.lesson-card .auditorium-name {
    font-size: 0.85rem;
    letter-spacing: 0.01em;
    font-weight: 500;
}

.lesson-card .subject-name {
    font-size: 14px;
    font-weight: 700;
}

.lesson-card .teacher-name {
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;  
}

.start-lesson-time {
    text-align: center;
    color: #fff;
    font-weight: 500;
    /*background-color: #2196f3;*/
    background-color: #1679f4;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 1.05rem;
}

#schedule-table th:not(:first-child),
#schedule-table td:not(:first-child) {
    width: 220px; 
    text-align: center;
    word-wrap: break-word;
}

#schedule-table th:first-child,
#schedule-table td:first-child {
    width: 60px; 
}

#schedule-body tr:nth-child(even) {
    background-color: #fff;
}

#schedule-thead th {
    padding: 32px 0;
}

#schedule-body td {
    vertical-align: top;
}

